* {
  font-family: sans-serif;
  color: rgb(35, 34, 34);
}

.page-name {
  letter-spacing: 2px;
}

.dot {
  font-size: 10vh;
  color: rgb(168, 39, 80);
}

.question-title {
  color: rgb(168, 39, 80);
}

.submit {
  padding: 10px;
  margin: 20px;
  background-color: white;
  font-size: 5vh;
}
